<section class="card">

    <div class="card-body">

        <div class="card-title">
            <p>{{postTitle}}</p>
        </div>

        <div class="card-content">
            <p>{{postContent}}</p>
        </div>

    </div>