<h2>Dashboard</h2>

<form class="form post-form">
  <div class="form-group">
    <label for="post-title">Title:</label>
    <input class="form-input space-bottom" type="text" id="post-title" />
  </div>

  <div class="form-group">
    <label for="post-text">Post:</label>
    <input class="form-input space-top" type="text" id="post-text" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>