<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input space-bottom" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input
      class="form-input space-bottom"
      type="password"
      id="password-login"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

<p>Need to make an account? Sign up below!</p>

<a href="/signup">Sign Up&nbsp;</a>
<a href="/">Home</a>

<script src="/js/login.js"></script>